main {
}

section {
}

.hero-block {
  padding-top: 140px;
  color: #fff;
  h1,p{color: #ffffff;}
  &__features {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        margin-right: 15px;
      }
      font-weight: 900;
      color: #ffffff;
    }
  }
  @media screen and (max-width: 425px) {
    .hero-block__features {
      flex-direction: column;
      align-items: center;
      .item {
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }
    }
  }
  background-image: url("../../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 710px;
}

.block-features {
  .row {
  }
  .block-features--item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      max-width: 50%;
      text-align: center;
      margin-top: 16px;
      font-weight: 900;
    }
  }
}

.block-products {
  .products-r{
    margin-bottom: 45px;
  }
  &__title {
    left: 0;
    position: absolute;
  }
  .products-s-title{
    margin-bottom: 35px;
  }
  .card {
    margin-top: 35px;
  }
}
