<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ответы на вопросы</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

    @@include("./components/header.html")


    <!-- content [ -->
    <main>



        <section class="faq container">

            <h2 class="title">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>

            <div class="accordion mt-5" id="accordionExample">


                <div class="card">
                    <div class="card-header" id="h1">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#c1"
                                aria-expanded="true" aria-controls="c1">
                                Сколько по времени идет прокачка?
                            </button>
                        </h2>
                    </div>

                    <div id="c1" class="collapse" aria-labelledby="h1" data-parent="#accordionExample">
                        <div class="card-body">
                            В каждой платформе по разному, ПК - до 20 минут. PS4 - от 2 до 4 дней. XBOX ONE - от 2 до 5
                            дней.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="h2">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#c2" aria-expanded="false" aria-controls="c2">
                                Что делать после оплаты?
                            </button>
                        </h2>
                    </div>
                    <div id="c2" class="collapse" aria-labelledby="h2" data-parent="#accordionExample">
                        <div class="card-body">
                            После оплаты на указанную почту вам придет код-трекер, его нужно написать в поддержку группы
                            вконтакте (сообщения сообщества) и ждать ответа.
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header" id="h3">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#c3" aria-expanded="false" aria-controls="c3">
                                Как заказать?
                            </button>
                        </h2>
                    </div>
                    <div id="c3" class="collapse" aria-labelledby="h3" data-parent="#accordionExample">
                        <div class="card-body">
                            Выбираете нужный пакет, нажимаете купить, указываете свой Email (туда придет трекер заказа),
                            после оплачиваете.
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header" id="h4">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#c4" aria-expanded="false" aria-controls="c4">
                                Прокачиваете ли вы больше чем есть в пакетах?
                            </button>
                        </h2>
                    </div>
                    <div id="c4" class="collapse" aria-labelledby="h4" data-parent="#accordionExample">
                        <div class="card-body">
                            Увы, нет. Мы прокачиваем до максимально безопасного уровня. Поэтому только то кол-во,
                            которое указанно в пакетах. Можем сделать чуть меньше, чем стоит в заказе. По вашему
                            желанию.
                        </div>
                    </div>
                </div>




                <div class="card">
                    <div class="card-header" id="h5">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#c5" aria-expanded="false" aria-controls="c5">
                                Что мне присылать в паблик? Какие данные?
                            </button>
                        </h2>
                    </div>
                    <div id="c5" class="collapse" aria-labelledby="h5" data-parent="#accordionExample">
                        <div class="card-body">
                            Подробный ответ: https://vk.com/topic-186981760_40631048
                        </div>
                    </div>
                </div>



            </div>
        </section>



    </main>
    <!-- ] content -->

    @@include("./components/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>