<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

    @@include("./components/header.html")


    <!-- content [ -->
    <main>

        <section class="block-features container">
            <h2 class="title">НАШИ ПРИЕМУЩЕСТВА</h2>
            <h4 class="subtitle">Почему мы лучше других? И за что нас любят!</h4>
            <div class="row">

                <div class="col-lg-3 block-features--item">
                    <div class="circle">
                        <img src="../img/svg/f1.svg" alt="">
                    </div>
                    <p>
                        МНОГО
                        ХОРОШИХ
                        ОТЗЫВОВ
                    </p>
                </div>

                <div class="col-lg-3 block-features--item">
                    <div class="circle">
                        <img src="../img/svg/f2.svg" alt="">
                    </div>
                    <p>
                        быстрая
                        накрутка
                        за 10 минут
                    </p>
                </div>

                <div class="col-lg-3 block-features--item">
                    <div class="circle">
                        <img src="../img/svg/f3.svg" alt="">
                    </div>
                    <p>
                        Гарантия
                        сохранения
                        низкой цены
                    </p>
                </div>

                <div class="col-lg-3 block-features--item">
                    <div class="circle">
                        <img src="../img/svg/f4.svg" alt="">
                    </div>
                    <p>
                        Постоянные
                        конкурсы
                        и акции
                    </p>
                </div>
            </div>
        </section>


        <section class="block-products container">

            <h2 class="title">Пакеты прокачки</h2>
            <h4 class="subtitle">Выбери интересующий тебя пакет</h4>


            <!-- <a href="#" class="btn btn-2">Как купить</a>
                <a href="#" class="btn btn-2">Что делать после оплаты?</a> -->



            <h3 class="">ПРОКАЧКА НА PC</h3>


            <div class="row container">

                <div class="card col-lg-4">
                    <div class="category">pc (стим, рокстар)</div>
                    <img src="../img/p1.jpg" alt="">
                    <h5 class="card-title">
                        Пакет « <span>СТАРТ</span> »
                    </h5>
                    <ul>
                        <li>150 Уровень</li>
                        <li>150 Уровень</li>
                        <li>150 Уровень</li>
                    </ul>
                    <div class="btn btn-buy">Купить за 340р</div>
                </div>

            </div>

        </section>


    </main>
    <!-- ] content -->

    @@include("./components/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>