<footer>
    <div class="row container">

        <div class="col-lg-6">
            <div class="footer-col-title"><img src="../../img/svg/logo.svg" alt="logo"></div>
            <div class="footer-col-text">
                <p>На нашем сайте вы можете <a href="#">заказать прокачку</a></p>

                <p>
                    персонажа для гта 5. персонажа в GTA ONLINE на PC PS4 или XBOX ONE.
                    Накрутка денег в ГТА 5 происходит самым безопасным путем, через зарубежный софт.
                    прокачка гта 5 онлайн.
                    gta 5 online ps4 xbox one Прокачка ГТА 5 Онлайн на PS4 XBOX ONE от <a href="/">GOOGLE.COM</a>
                </p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="footer-col-title">Навигация</div>
            <div class="footer-col-text">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Главная</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="footer-col-title">Мы принимаем</div>
            <div class="footer-col-text text-center">
                <img src="../../img/f1.png" alt=""> <br> <br>
                <img src="../../img/f2.png" alt="">
            </div>
        </div>

        <div class="copyright col-lg-12">© google.com - Все права защищены</div>

    </div>

    

</footer>