<header>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../img/svg/logo.svg" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header_navbar"
                aria-controls="header_navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse m-left" id="header_navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Заказать</a>
                    <a class="nav-item nav-link" href="faq.html">FAQ</a>
                    <a class="nav-item nav-link" href="reviews.html">Отзывы</a>
                    <a class="nav-item nav-link" target="_blank" href="https://vk.com/eliexgroup">ВКонтакте</a>
                </div>
            </div>

        </div>
    </nav>
</header>