<header>

    <nav class="navbar navbar-expand-lg navbar-dark container">
        <a class="navbar-brand" href="#">
            <img src="../../img/svg/logo.svg" alt="GTAFAST">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header_navbar"
            aria-controls="header_navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse m-left" id="header_navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Заказать</a>
                <a class="nav-item nav-link" href="#">FAQ</a>
                <a class="nav-item nav-link" href="#">Отзывы</a>
                <a class="nav-item nav-link" href="#">ВКонтакте</a>
            </div>
        </div>

    </nav>

    <div class="hero-block container row">


        <div class="col-lg-6">
            <h1 class="mb-4">Быстрая прокачка персонажей GTA 5</h1>
            <p>
                Магазин прокачки и накрутки персонажа гта 5 онлайн.
                Деньги, уровень. Анлок машины, дома, оружие, яхты, unlock DLC, одежда и тюнинг.
            </p>
        </div>

        <div class="col-lg-7">
            <div class="hero-block__features">

                <div class="item">
                    <img src="../../img/svg/hf1.svg" alt="">
                    Автооплата <br>
                    через сайт
                </div>

                <div class="item">
                    <img src="../../img/svg/hf2.svg" alt="">
                    Безопасно <br>
                    Без банов
                </div>

                <div class="item">
                    <img src="../../img/svg/hf3.svg" alt="">
                    Моментальное <br>
                    получение
                </div>

            </div>

            <a href="#" class="btn btn-o btn-1 mt-5">ПОСМОТРЕТЬ ТОВАРЫ</a>

        </div>

    </div>
</header>