@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,900|Roboto:300,400,500,700,900&display=swap&subset=cyrillic-ext");

section {
  margin-top: 50px;
}

* {
  // outline: 1px solid rgba(220, 20, 60, 0.2) !important;
}

* {
  color: #222222;  
  font-family: "Roboto", "Open sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 14px;
}

h1 {
  font-family: Open Sans;
  font-style: bold;
  font-weight: 900;
  font-size: 48px;
  line-height: 54px;
  // text-transform: uppercase;
}

h2 {
  font-family: Open Sans;
  font-style: bold;
  font-weight: 900;
  font-size: 38px;
  line-height: 29px;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 28px;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  margin-left: 120px;
  &:before {
    content: "";
    display: block;
    width: 115px;
    height: 11px;
    background: #222222;
    position: absolute;
    bottom: 34%;
    left: -125px;
  }
}

p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1.15px;
}

.title,
.subtitle {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 7px;
  margin-top: 70px;
  line-height: 40px;
}

.subtitle {
  font-weight: 700;
  color: #666666;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 90px;
}

.btn {
  @media screen and (max-width: 425px) {
    display: block;
  }
  padding: 6px 30px;
  &:hover {
    padding: 6px 30px;
  }
  border: none;
  max-height: 38px;
}

.btn-1 {
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 100px;
  margin-top: 10px;

  &:hover {
    color: #222;
    background-color: #fff;
  }
}

.btn-2 {
  display: inline-block;
  background: $gradient-1;
  color: #fff;
  border-radius: 150px;
  &:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
  }
}

.btn-3 {
  display: inline-block;
  background: $gradient-1;
  color: #cccccc;
  border-radius: 0;
  padding: 7px 50px;
  &:hover {
    padding: 7px 50px;
    color: #fff;
  }
}

.circle {
  width: 200px;
  height: 200px;
  background: $gradient-1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
}

.card {
  border: none;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-body {
    border: 2px solid #ccc;
    box-shadow: 0 0 40px rgba($color: #222222, $alpha: 0.25);
    border-radius: 10px;
    .category {
      font-family: Open Sans;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .card-title {
      text-align: center;
      margin: 10px auto;
      font-weight: 900;
      text-transform: uppercase;
      span {
        margin-top: 3px;
        color: $card-span-color;
        display: inline-block;
      }
    }
    .btn {
      margin-top: 15px;
      display: block;
      text-align: center;
    }
  }
  ul {
    padding: 0;
    text-align: left;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  li {
    list-style: disc;
    position: relative;
    margin: 9px 0;
  }
}
